---
layout: default


---

<div class="topnav">
  <a class="active" href="https://raymondrennock.gitlab.io/jekyll/">Home</a>
  {% for post in site.posts %}
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% endfor %}
</div>

<div class="sidenav">
    </div>
    <div class="sidenav2">
    </div>

<div class="home">
<center>

  <hr width=250> <br>
  <h1>Raymond Rennock</h1>
  <hr> <br>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">Last Updated: {{post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <br> <hr>
      </li>
    {% endfor %}
  </ul>

<span class="post-meta">Last Updated: Jul 28, 2022</span>

<a href="https://www.docdroid.net/cdXgvAd/raymond-rennock-resume-pdf" target="_blank"> <h2> Resume Download (PDF)</h2></a>
<br> <hr>

</center>

</div>
