<!DOCTYPE html>
<html>

  

  <body>

    {% include head.html %}
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
